<!-- Heading -->
<div class="card mb-4 wow fadeIn">

  <!--Card content-->
  <div class="card-body d-sm-flex justify-content-between">

    <h4 class="mb-sm-0 pt-3">
      <a routerLink="/dashboard">Home Page</a>
      <span>/</span>
      <span>Dashboard</span>
    </h4>
    <form class="d-flex md-form justify-content-center">
      <!-- Default input -->
      <input type="search" placeholder="Type your query" aria-label="Search" class="form-control">
      <button class="btn btn-primary btn-sm my-0 p" type="submit">
        <i class="fa fa-search"></i>
      </button>

    </form>

  </div>

</div>
<!-- Heading -->


<app-stats-card2  [payments]="payments"></app-stats-card2>



<!--Grid row-->
<div class="row wow fadeIn mt-5">

  <!--Grid column-->
  <div class="col-md-9 mb-4">
    <div class="card card-cascade narrower">
      <div class="view mdb-color gradient-card-header  darken-3">
        <h4 _ngcontent-c4="" class="h4-responsive text-white"> Monthly Stat </h4>
      </div>
      <div class="row wow fadein card-body">
        <div class="col-md-4">
          <p-chart type="doughnut" [data]="data"></p-chart>
        </div>
        <div class="col-md-4 ">
            <p-chart type="doughnut" [data]="data"></p-chart>
          </div>
          <div class="col-md-4 ">
              <p-chart type="doughnut" [data]="data"></p-chart>
            </div>
      </div>
    </div>


  </div>
  <!--Grid column-->

  <!--Grid column-->
  <div class="col-md-3 mb-4">
    <!--Card-->
    <div class="card mb-4">

      <!--Card content-->
      <div class="card-body" *ngIf="counts$|async as counts">

        <!-- List group links -->
        <div class="list-group list-group-flush">
         
          <a routerLink="/tenants"  class="list-group-item list-group-item-action waves-effect">Tenants
            <span class="badge badge-primary badge-pill pull-right">{{counts[0].value}}</span>
          </a>
          <a routerLink="/buildings" class="list-group-item list-group-item-action waves-effect">Buldings
            <span class="badge badge-primary badge-pill pull-right">{{counts[1].value}}</span>
          </a>
        </div>
        <!-- List group links -->

      </div>

    </div>
    <!--/.Card-->

  </div>
  <!--Grid column-->

</div>
<!--Grid row-->