.justify-content-center {
    display: flex !important;
    justify-content: center !important;
    padding-top: 2%;
}
.true{
    color: green;
    font-weight: bold;
}
.false{
    color: red;
    font-weight: bold;

}