<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/banner.png" class="img-fluid" alt="">
        </a>

        <div class="list-group list-group-flush">
            <a routerLink="dashboards/v1" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-pie-chart mr-3"></i>Dashboard
            </a>
            <a routerLink="tenants/tenants" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-users mr-3"></i>Tenants
            </a> 
            <a routerLink="payments" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <i class="fa fa-money mr-3"></i>Payments
            </a> 

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand" href="">
                <strong class="blue-text">FIO</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" mdbWavesEffect>Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

            </ul>

        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->