<div class="card mb-4 wow fadeIn">
  <div class="card-body d-sm-flex justify-content-between">
    <h4 class="mb-sm-0 pt-3">
      <a routerLink="/dashboard">Home Page</a>
      <span>/</span>
      <span>Tenants</span>
    </h4>
    <div>
      <a type="button" class="btn btn-primary waves-light" routerLink="/tenants/add" mdbWavesEffect>add tenant</a>
    </div>
    <form class="d-flex md-form justify-content-center">
      <input type="search" placeholder="Search for a tenant" aria-label="Search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
        class="form-control">
      <button class="btn btn-primary btn-sm my-0 p" type="submit">
        <i class="fa fa-search"></i>
      </button>
    </form>
  </div>
</div>
<div class="row wow fadeIn mt-5" *ngIf="tenants$ | async as tenants">
  <div class="col-md-12">
    <div class="card card-cascade narrower ">
      <div class="card-body">
        <table class="table">
          <thead class="mdb-color darken-3">
            <tr class="text-white">
              <th>#</th>
              <th>Full Name</th>
              <th>Email Address</th>
              <th>Phone Number</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tenants| filter: search | paginate: { itemsPerPage:  5, currentPage: p }">
              <th scope="row">1</th>
              <td>{{item.FirstName}} {{item.Surname}}</td>
              <td>{{item.Email}}</td>
              <td>{{item.ContactNumber}}</td>
              <td>
                <button type="button" class="btn btn-primary waves-light" (click)="viewTenant(item)" mdbWavesEffect>view</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>

</div>