<div class="card mb-4 wow fadeIn">
    <div class="card-body d-sm-flex justify-content-between">
      <h4 class="mb-sm-0 pt-3">
        <a routerLink="/dashboards/v1">Home Page</a>
        <span>/</span>
        <span>Payments</span>
      </h4>
      <div>
        <a type="button" class="btn btn-primary waves-light" routerLink="/tenants/add" mdbWavesEffect>Uplaod bank statement</a>
      </div>
      <form class="d-flex md-form justify-content-center">
        <input type="search" placeholder="Search for a tenant" aria-label="Search" [(ngModel)]="search" [ngModelOptions]="{standalone: true}"
          class="form-control">
        <button class="btn btn-primary btn-sm my-0 p" type="submit">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
  </div>
