<div class="card mb-4 wow fadeIn">
  <div class="card-body d-sm-flex justify-content-between">
    <h4 class="mb-sm-0 pt-3">
      <a routerLink="/dashboards/v1">Home Page</a>
      <span>/</span>
      <span>Payments</span>
    </h4>

 
  </div>
</div>

<div class="row wow fadeIn mt-5">
  <div class="col-md-12">
    <div class="card card-cascade narrower ">
      <div class="card-body">
        <table class="table">
          <thead class="mdb-color darken-3">
            <tr class="text-white">
              <th></th>
              <th>  Upload Bank Statement</th>
              <th></th>
              <th></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">
              
              </th>
              <td>

                  <div class="upload-btn-wrapper">
                      <button class="btn">Select a file</button>
                      <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                    </div>

              </td>
              <td>
                <button type="button" class="btn btn-info" (click)="upload()">Upload</button>
              </td>
              <td *ngIf="paymentReport.length">
                <button type="button" class="btn btn-success" (click)="saveReports()">Save Report</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>



<div class="row wow fadeIn mt-5" *ngIf="paymentReport as data">
    <div class="col-md-12">
      <div class="card card-cascade narrower ">
        <div class="card-body">
          <table class="table">
            <thead class="mdb-color darken-3">
              <tr class="text-white">
                <th>Ref#</th>
                <th>Room</th>
                <th>Name</th>
                <th>Amount Invoiced</th>
                <th>Amount Paid</th>
                <th>Status</th>

               
               
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of data">
                <td>{{item.Ref}}</td>
                <td>{{item.Room}}</td>
                <td>{{item.Name}}</td>
                <td>R {{item.AmountInvoiced}}</td>
                <td>R {{item.AmountPaid}}</td>
                <td> {{item.Status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
  </div>
